footer {
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  height: 40px;
  bottom: 0px;
  width: 100%;
  margin: auto;
  background-color: #df9b49;
  text-align: right;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #fff;
    }

  }

}